:root {
  --twitch-background-color-dark: #0E0E10;
}

html {
  height: 300px;
}

body {
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  margin: 20px auto;
}

.banner-wrapper {
  height: 100%;
}

.banner-image-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.banner-image-wrapper > img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.banner-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  color: #333;
}

.banner-description {
  text-align: center;
  color: #555;
  margin: 0;
}

/* Dark Theme based on OS settings */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--twitch-background-color-dark);
  }

  .banner-wrapper {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .banner-title {
    color: #eee;
  }

  .banner-description {
    color: #ccc;
  }
}
